@charset "utf-8";

/* 全体設定 */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(251, 213, 251), rgb(149, 233, 243));
  font-family: "Kosugi Maru", sans-serif;
}

/* メイン（白背景部分） */
main {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 10px;
  width: 80%;
  border-radius: 40px;
  max-width: 800px;
  height: 400px;
  padding: 30px;
  position: relative;
}

/* カウントダウン時表示されるdivの設定 */
.count_cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jersey 15", sans-serif;
  font-size: 200px;
  color: #076ad9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.9);
}

/* 見出し */
h1 {
  font-family: "Jersey 15", sans-serif;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-align: center;
  background: linear-gradient(135deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

/* 残り時間、スコア表示用枠 */
.time,
.score {
  text-align: center;
  background: linear-gradient(135deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 残り時間文字と余白 */
.time {
  font-size: 20px;
  margin-bottom: 15px;
}

/* スコア文字と余白 */
.score {
  font-size: 30px;
  margin-bottom: 20px;
}

/* 問題出題エリア */
#game_area {
  background: linear-gradient(135deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
  height: 90px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}

/* 入力済み文字色 */
#game_area .finish {
  color: rgb(255, 151, 81);
}

/* リスタートボタン */
#restart {
  background: linear-gradient(135deg, #58c6ff 0%, #076ad9 40%, #ff3bef 80%);
  border-radius: 10px;
  height: 50px;
  width: 150px;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  font-size: 20px;
}

/* リスタートボタンのアイコン画像 */
#restart::before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 3px;
  background: url(../img/restart.png) no-repeat center center/contain;
}